body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #49688e;
}
.card{
    border: 1px solid silver;
}
table, th, td, tr{
    text-wrap: none;
    width: max-content;
    vertical-align: middle;
}
td{
    padding: 2px 5px 2px 5px;
    vertical-align: middle;
    border: 1px solid silver;
}